@import '../../node_modules/normalize.css/normalize.css';
@import 'block/var.scss';
@import 'block/grid.scss';
@import 'block/header.scss';
@import 'block/slider.scss';
@import 'block/about.scss';
@import 'block/how-work.scss';
@import 'block/numbers.scss';
@import 'block/brends.scss';
@import 'block/feedback.scss';
@import 'block/intro.scss';
@import 'block/supplied.scss';
@import 'block/advant.scss';
@import 'block/deadline.scss';
@import 'block/appeals.scss';
@import 'block/contacts.scss';
@import 'block/footer.scss';
@import 'block/modal.scss';

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.no-scroll {
  overflow: hidden;
}