.about {
  padding-top: 150px;
  padding-bottom: 70px;
}

.about__container {
  @extend %container;
}

.about__title {
  @extend %title;
}

.about__sub-title {
  @extend %sub-title;
  margin-bottom: 47px;
}

.about__lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 75px;
}

.about__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 63px 20px 50px;
  box-shadow: 0 20px 70px 0 rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.about__img {
  margin-bottom: 45px;
}

.about__name {
  width: 100%;
  max-width: 290px;
  font-family: var(--font-family);
  color: var(--black);
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 30px;
}

.about__text {
  width: 100%;
  max-width: 350px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: var(--light-black);
}