.advant {
  padding: 106px 0 112px;
  background-color: var(--grey)
}

.advant__container {
  @extend %container;
}

.advant__title {
  @extend %title;
  max-width: 735px;
  margin-bottom: 77px;
}

.advant__line {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 185px;
}

.advant__line_second {
  grid-template-columns: 1.1fr 1fr;
  margin-bottom: 0;
}

.advant__line_second .advant__content {
  margin-left: 15px;
}

.advant__line_second .advant__text {
  font-size: 26px;
}

.advant__sub-title {
  width: 100%;
  max-width: 478px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 143%;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 40px;

  & span {
    color: var(--orange);
  }
}

.advant__text {
  width: 100%;
  max-width: 458px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #585858;
  margin-bottom: 25px;
}

.advant__image {
  align-self: center;
}

.advant__img {
  width: 100%;
}

.advant__list {
  display: flex;
  flex-direction: column;
  gap: 55px 0;
  counter-reset: myCounter;
}

.advant__item {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 200%;
  text-transform: uppercase;
  color: var(--orange);
  list-style: none;

  & p {
    width: 100%;
    max-width: 660px;
    margin-top: 15px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #585858;
    text-transform: none;
  }

  &:before {
    counter-increment: myCounter;
    content: counter(myCounter);

    display: inline-block;
    text-align: center;
    line-height: normal;
    height: auto;
    width: auto;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--black);
    margin: 0 15px 0 0;
  }

  &:nth-child(-n+9):before {
    content: "0" counter(myCounter);
  }
}

@media (max-width: 1400px) {
  .advant__line {
    margin-bottom: 60px;
  }
}

@media (max-width: 768px) {
  .advant {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .advant__container {
    padding: 0 20px;
  }

  .advant__container {
    padding: 0 20px;
  }

  .advant__title {
    font-size: 25px;
    margin-bottom: 45px;
  }

  .advant__line {
    grid-template-columns: 1fr;
  }

  .advant__sub-title {
    font-size: 15px;
    margin-bottom: 20px;
    max-width: 100%;
  }

  .advant__text {
    font-size: 14px;
    line-height: 143%;
    max-width: 100%;
  }

  .advant__item  {
    font-weight: 700;
    font-size: 15px;
    max-width: 100%;
  }

  .advant__item:before {
    font-size: 15px;
  }

  .advant__line_second .advant__text, .advant__item p {
    font-size: 14px;
    line-height: 143%;
    max-width: 100%;
  }

  .advant__list {
    gap: 20px 0;
  }



  .advant__line_second .advant__content {
    grid-row-start: 1;
  }

  .advant__line_second .advant__image {
    grid-row-start: 2;
  }
}
