.appeals {
  background-color: var(--grey);
  padding: 100px 0 100px;
}

.appeals__container {
  @extend %container;
}

.appeals__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

.appeals__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 117%;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 60px;
}

.appeals__text {
  width: 100%;
  max-width: 488px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 30px;
  line-height: 133%;
  color: var(--black);
  margin-bottom: 88px;
}

.appeals__btn {
  width: 182px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  color: var(--white);
  border-radius: 30px;
  background-color: var(--orange);
  border: none;
  padding: 20px 0;

  &:hover {
    background-color: var(--dark-orange);
  }
}

.appeals__img-wrapper {
  position: relative;
}

.appeals__image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate3d(-50%, -45%, 0);
  z-index: 1;
}

.appeals__img {
  width: 100%;
  max-width: 995px;
}

@media (max-width: 1200px) {
  .appeals__title {
    font-size: 40px;
    margin-bottom: 25px;
  }

  .appeals__text {
    font-size: 20px;
    margin-bottom: 25px;
  }
}

@media (max-width: 768px) {

  .appeals {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .appeals__container {
    padding: 0 20px;
  }

  .appeals__wrap {
    grid-template-columns: 1fr;
  }

  .appeals__content {
    justify-items: center;
  }

  .appeals__image {
    position: static;
    transform: none;
    text-align: center;
  }

  .appeals__img {
    max-width: 280px;
  }

  .appeals__title {
    font-size: 25px; 
  }

  .appeals__text {
    font-size: 14px;
    text-align: center;
  }

  .appeals__btn {
    width: 120px;
    padding: 10px 0;
  }
}