.brends {
  padding: 166px 0 165px;
}

.brends__container {
  @extend %container;
}

.brends__item {
  border: 1px solid rgba(161, 161, 161, 1);
  height: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.brends__item:first-child {
  border-right: 1px solid rgba(161, 161, 161, 1);
}

.brends__images {
  width: 100%;
  max-width: 250px;
}

.brends__slider {
  position: relative;
}

.brends__slide-btn {
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color:rgba(194, 194, 194, 1);
  color: var(--white);
  cursor: pointer;
  transition: $transition;
  margin: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: 2;
    background: url('../assets/arrow.svg') no-repeat;
    background-position: center center;
  }
}

.brends__slide-btn_prev {
  left: 0;

  &::before {
    transform: rotate(180deg);
  }
}

.brends__slide-btn_next {
  right: 0;
}


.swiper-button-next::after {
  display: none;
}

.swiper-button-prev::after {
  display: none;
}

@media (hover:hover) {
  .brends__slide-btn:hover {
      opacity: 0.8;
  }
}

@media (max-width: 1440px) {
  .brends__item {
    height: 250px;
  }
}

@media (max-width:992px) {
  .brends__item {
    height: 250px;
  }
}

@media (max-width:768px) {
  .brends {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .brends__slide-btn {
    width: 45px;
    height: 45px;

    &::before {
      width: 45px;
      height: 45px;
    }
  }
}

@media (max-width: 576px) {

  .brends__item {
    height: 150px;
  }

  .brends__slide-btn {
    display: none;
  }

  .brends__slides {
    padding-left: 30px;
  }

}