.contacts {
  padding: 133px 0 103px;
}

.contacts__container {
  @extend %container;
}

.contacts__wrapp {
  box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  border-radius: 30px;
  padding: 40px 85px;
}

.contacts__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 117%;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 83px;
}

.contacts__block {
  margin-bottom: 95px;
}

.contacts__sub-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 143%;
  text-transform: uppercase;
  color: var(--orange);
  letter-spacing: 1px;
  margin-bottom: 25px;
}

.contacts__table {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px 0;
}

.contacts__table-row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.contacts__table-name {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #878787;
}

.contacts__table-content {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: var(--black);
}


.contacts__copy {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding-top: 5px;

  & img {
    width: 24px;
  }
}

@media (max-width: 768px) {
  .contacts {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .contacts__container {
    padding: 0 20px;
  }

  .contacts__wrapp {
    padding: 0;
    box-shadow: none;
  }

  .contacts__title {
    font-size: 25px;
    line-height: 28px;
    margin-bottom: 50px;
  }

  .contacts__sub-title {
    font-weight: 700;
    font-size: 18px; 
    line-height: 28px;
  }

  .contacts__table-row {
    grid-template-columns: 1fr;
  }

  .contacts__table-name,  .contacts__table-content {
    font-size: 14px;
    line-height: 18px;
  }

  .contacts__block {
    margin-bottom: 25px;
  }
}