.deadline {
  padding: 100px 0 100px;
}

.deadline__container {
  @extend %container;
}

.deadline__wrapp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  align-items: center;
  justify-items: center;
  gap: 20px
}

.deadline__image {
  text-align: right;
}

.deadline__img {
  width: 100%;
  max-width: 758px;
}


.deadline__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 117%;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 65px;
}

.deadline__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 30px;
  line-height: 133%;
  color: var(--black);
  width: 100%;
  max-width: 767px;

  & span {
    font-weight: 700;
    color: var(--orange);
  }
}

@media (max-width: 992px) {
  .deadline__text {
    font-size: 20px
  }

  .deadline__title {
    font-size: 40px;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {

  .deadline {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .deadline__container {
    padding: 0 10px;
  }

  .deadline__wrapp {
    grid-template-columns: 1fr;
    gap: 5px
  }

  .deadline__text {
    font-size: 14px
  }

  .deadline__title {
    font-size: 25px;
  }

  .deadline__image:last-child {
    grid-row-start: 4;
  }

  .deadline__content:last-child {
    grid-row-start: 3;
  }

  .deadline__img {
    max-width: 400px;
  }
}

