.feedback {
  padding: 100px 0 50px;
  background-color: var(--black);
}

.feedback__container {
  @extend %container;
}

.feedback__title {
  @extend %title;
  color: var(--white)
}

.feedback__subtitle {
  @extend %sub-title;
  color: var(--light-black);
  margin-bottom: 60px;
}

.feedback__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1075px;
  justify-content: center;
  margin: 0 auto 113px;
}

.feedback__inputs {
  display: flex;
  justify-content: space-between;
  gap: 0 20px;
  margin-bottom: 35px;
}

.feedback__input {
  width: 100%;
  max-width: 335px;
  height: 51px;
  border-radius: 30px;
  padding: 0 24px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  color: #7e7e7e;

  &:focus {
    outline: none;
  }
}

.feedback__message {
  width: 100%;
  height: 164px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  color: #7e7e7e;
  border-radius: 30px;
  resize: none;
  padding: 15px 24px;
  margin-bottom: 25px;

  &:focus {
    outline: none;
  }
}

.feedback__check-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 72px;
}

.feedback__label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  color: var(--white);
}

.feedback__policy-link {
  color: var(--orange);
  text-decoration: none;
}


.feedback__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.feedback__checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.feedback__checkbox+label::before {
  content: '';
  display: inline-block;
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 50%;
  background-color: var(--white);
  cursor: pointer;
  margin-right: 15px;
}

.feedback__checkbox:checked+label::before {
  background-color:var(--orange);
  background-image: url("../assets/check.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.feedback__submite {
  width: 100%;
  max-width: 182px;
  margin: 0 auto;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  color: var(--white);

  border-radius: 30px;
  background-color: var(--orange);
  padding: 15px 0;

  cursor: pointer;
}

.feedback__line {
  width: 100%;
  height: 1px;
  background-color: #868686;
}

@media (max-width: 768px) {
  .feedback {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .feedback__container {
    padding: 0 20px;
  }

  .feedback__form {
    margin-bottom: 70px;
  }

  .feedback__title {
    font-size: 25px;
  }

  .feedback__subtitle {
    font-size: 16px;
    line-height: 112%;
    margin-bottom: 30px;
  }

  .feedback__inputs {
    flex-direction: column;
    gap: 20px 0;
    margin-bottom: 20px;
  }

  .feedback__input {
    width: 100%;
    max-width: 768px;
  }

  .feedback__check-wrap {
    margin-bottom: 30px;
  }
  .feedback__checkbox + label::before {
    width: 26px;
    height: 26px;
    margin-right: 10px;
  }


  .feedback__checkbox-text {
    font-size: 12px;
  }
}
