%container {
  width: 100%;
  max-width: 1496px;
  margin: 0 auto;
  padding: 0 30px;
}

%title {
  width: 100%;
  max-width: 690px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 117%;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
  margin: 0 auto 20px;
}

%sub-title {
  width: 100%;
  max-width: 695px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 30px;
  line-height: 233%;
  text-align: center;
  color: var(--light-black);
  margin: 0 auto;
}

%intro-wrapp {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

%intro-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;
  padding: 125px 30px 90px;
  display: flex;
  align-items: center;
}


%intro-content {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

%intro-page {
  display: none;
  width: 100%;
  padding: 10px;
  text-align: center;
  background: var(--orange);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: var(--white);
  margin-bottom: 20px;
  
}

%intro-title {
  width: 100%;
  max-width: 768px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 117%;
  text-transform: uppercase;
  color: var(--white);

  margin-bottom: 45px;
}

%intro-text {
  width: 100%;
  max-width: 485px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.8px;
  color: var(--white);

  margin-bottom: 50px;
}

%intro-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 182px;
  height: 51px;
  border-radius: 30px;
  background-color: var(--orange);

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  color: var(--white);

  text-decoration: none;
  transition: $transition;

  &:hover {
    background: var(--dark-orange);
  }
}

%intro-img {
  width: 100%;
}