.slider {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

.slider__item {
  width: 100%;
  background-color: rgb(10, 75, 43);
}

.slider__container {
  padding: 125px 30px 90px;

  @extend %container;

  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider__title {
  width: 100%;
  max-width: 768px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 117%;
  text-transform: uppercase;
  color: var(--white);

  margin-bottom: 45px;
}

.slider__text {
@extend %intro-text;
max-width: 600px;
}

.slider__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 182px;
  height: 51px;
  border-radius: 30px;
  background-color: var(--orange);

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  color: var(--white);

  text-decoration: none;
  transition: $transition;


}

.slider__img {
  width: 100%;
  max-width: 600px;
}

.slider__dots {
  position: absolute;
  left: 50% !important;
  transform: translateX(-50%) !important;
  bottom: 50px !important;

  z-index: 2 !important;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border: 2px solid var(--white) !important;;
  border-radius: 50%;
  background-color: var(--white) !important;
}

.swiper-pagination-bullet-active {
  background-color: transparent;
  cursor: default;
}

@media (hover:hover) {
  .slider__btn:hover {
    background: var(--dark-orange);
  }
}

@media (max-width: 1250px) {
  .slider__title {
    font-size: 45px;
    margin-bottom: 30px;
  }

  .slider__text {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 30px;
  }
}

@media (max-width: 992px) {
  .slider__container {
    padding: 60px 20px 20px;
  }

  .slider__dots {
    bottom: 30px;
  }
  
  .slider__title {
    max-width: 315px;
    font-size: 25px;
    line-height: 140%;
    margin-bottom: 20px;
  }

  .slider__text {
    max-width: 315px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  .slider__btn {
    width: 121px;
    height: 34px;
    font-weight: 400;
    font-size: 14px;
  }

  .slider__img {
    max-width: 500px;
  }
}

@media (max-width: 768px) {
  .slider {
    height: 100dvh;
  }

  .slider__wrapp {
    height: 100%;
  }

  .slider__item {
    height: 100%;
  }

  .slider__container {
    padding: 125px 30px 20px;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 20px 0;
  }

  .slider__content {
    justify-content: flex-start;
  }

  .slider__img {
    max-width: 315px;
  }

  .slider__picture {
    width: 100%;
    display: block;
    text-align: center;
  }
  
}